/*RESET*/
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:normal;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,simsun;color:#333;outline:0;}
body{background:#fff;}
a,a:hover{color:#333;}


/*头部导航*/
.m-hd{
	width: 1205px;
	height: 90px;
	margin: 0 auto;
}

.hd-logo{
	height: 90px;
}

.hd-logo img{
	display: inline-block;
	padding: 34px 0;
}

.hd-login{
	height: 90px;
}

.hd-attention{
	display: inline-block;
	width: 54px;
	height: 21px;
	margin:34px 13px 34px 31px;
	padding-left: 15px;
	border:none;
	border-radius: 2px;
	background: #21a557 url('../img/+.png') no-repeat 20% 50%;
	color: #fff;
	font:normal 12px/21px 'simsun';
	cursor:pointer;
}


.hd-fan{
	display: inline-block;
	color:#666;
	font:normal 12px/21px 'simsun';
}

.hd-nav{
	height: 90px;
	font:normal 16px/90px 'Microsoft Yahei';
} 

.hd-nav a{
	display: inline-block;
	margin-left: 50px;
	color:#666;
	text-decoration: none;
	cursor:pointer;
}

.hd-nav .search{
	width: 19px;
	height: 19px;
	background:url('../img/search.png') no-repeat 0 1px;
}

.hd-attention:hover{
	background: #2fb556 url('../img/+.png') no-repeat 20% 50%;
}

.hd-nav a:hover{
	color:#39a030;
}

.hd-nav .search:hover{
	background:url('../img/search1.png') no-repeat 0 1px;
}

.fl{
	float: left;
}

.fr{
	float:right;
} 

/*轮播器CSS*/
.m-slider{
	width: 100%;
	height: 460px;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
	position: relative;
}

.m-slider img{
	position:absolute;
	height: 100%;
	left:50%;
	margin-left: -826px;
}

.m-product{
	width: 1205px;
	height: 296px;
	margin: 0 auto;
	color: #666;
}

.m-product .pd-item{
	display: inline-block;
	width:400px;
	height: 296px;
	float:left;
	background:no-repeat 5px 68px;
} 

.m-product .pd-item .title{
	width:250px;
	margin: 60px 0 17px 105px;
	font:22px/20px 'Microsoft Yahei';
	color:#333;
}

.m-product .pd-item .text{
	width:250px;
	margin-left: 105px;
	margin-bottom: 30px;
	font:14px/24px 'Microsoft Yahei';
} 

.m-product .pd-item .link{
	margin-left: 105px;
	font: 14px/24px 'Microsoft Yahei';
	color: #39a030;
}


.m-product .pd-item .link:hover{
	text-decoration: underline;
}

.m-work{
	width: auto;
	height: 220px;
	margin:0 auto;
	position: relative;
	overflow: hidden;
}

.m-work ul li{
	width: 320px;
	height: 220px;
	display: inline-block;
	margin: 0 auto;
	position: absolute;
	left: 50%;
	margin-left: -160px;
}

.m-work ul li:first-child{
	margin-left: -808px;
}

.m-work ul li:nth-child(2){
	margin-left: -484px;
}

.m-work ul li:nth-child(4){
	margin-left: 164px;
}

.m-work ul li:last-child{
	margin-left: 484px;
}

.m-cor{
	width: 1205px;
	height: 1467px;
	margin:0 auto;
}

.m-cor .cor-fl{
	width: 960px;
	height: 100%;
	float:left;
}

.m-cor .cor-fl .tab{
	width: 400px;
	height: 50px;
	margin: 80px 0 30px;
	background: #fff;
	box-shadow: 0px 1px 1px 1px #ecebeb;
}

.m-cor .cor-fl .tab .bt{
	width: 200px;
	height: 100%;
	display: inline-block;
	border: none;
	color: #666;
	background: #fff;
	font:20px/50px 'Microsoft Yahei';
}

.m-cor .cor-fl .tab .active{
	color: #fff;
	background: #39a030;
}

.m-cor .cor-fr{
	width: 223px;
	height: 100%;
	float:right;
}

.m-cor .cor-fr .video{
	width: 223px;
	height: 229px;
	margin:84px 0 21px;
	box-shadow: 0px 1px 1px 1px #ecebeb;
}

.m-cor .cor-fr .title{
	height: 55px;
	padding-left: 21px;
	border-bottom:1px solid #ddd;
	font:16px/55px 'Microsoft Yahei';
}

.m-cor .cor-fr .video p{
	margin-top: 18px;
	padding-left: 21px;
	color:#666;
	font:14px/22px 'Microsoft Yahei';
}

.m-cor .cor-fr .video img{
	display: block;
	margin: 0 auto;
	cursor:pointer;
}

.m-cor .cor-fr .hot{
	width: 223px;
	height: 778px;
	box-shadow: 0px 1px 1px 1px #ecebeb;
}


.m-foot{
	width: auto;
	height: 262px;
	background:#2c3339;
}
